{% extends "base.html.jinja" %}

{% block tab_opera %}tab-active{% endblock %}

{% block content %}
<div class="bg-olive-50 flex w-full">
  <div class="max-h-screen max-w-1/3 min-w-1/3 overflow-y-scroll px-8 pt-4">
    <form>
      <select class="select" name="selnav" id="selnav">
        {% for key, info in sort_orders.items() %}
        <option value="{{ key }}"{{ ' selected' if key == default_sort else '' }}>{{ info.label }}</option>
        {% endfor %}
      </select>
    </form>

    {# --- Pre-rendered title lists, one per sort order --- #}

    {# titLat #}
    <ul id="list-titLat" class="list title-list"{{ ' hidden' if default_sort != 'titLat' else '' }}>
      {% for item in sorted_lists.titLat %}
      <li class="list-row text-zinc-900">
        <a href="#{{ item.ctsURN }}">
          <div class="font-bold">[{{ item.callNumber }}]</div>
          <p class="italic list-col-wrap text-zinc-600">{{ item.latinTitle or item.title }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>

    {# fichtner #}
    <ul id="list-fichtner" class="list title-list"{{ ' hidden' if default_sort != 'fichtner' else '' }}>
      {% for item in sorted_lists.fichtner %}
      <li class="list-row text-zinc-900">
        <a href="#{{ item.ctsURN }}">
          <div class="font-bold">[{{ item.callNumber }}]</div>
          <p class="italic list-col-wrap text-zinc-600">{{ item.latinTitle }}</p>
        </a>
      </li class="list-row text-zinc-900">
      {% endfor %}
    </ul>

    {# kuehn #}
    <ul id="list-kuehn" class="list title-list"{{ ' hidden' if default_sort != 'kuehn' else '' }}>
      {% for item in sorted_lists.kuehn %}
      <li class="list-row text-zinc-900">
        <a href="#{{ item.ctsURN }}">
          <div><span class="font-bold">{{ item.kuehnEditionVolume }}.{{ (item.kuehnEditionPages or '').split('-')[0] }}</span> [{{ item.callNumber }} Ficht.]</div>
          <p class="italic list-col-wrap text-zinc-600">{{ item.latinTitle }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>

    {# titLatAbbr (CMG) #}
    <ul id="list-titLatAbbr" class="list title-list"{{ ' hidden' if default_sort != 'titLatAbbr' else '' }}>
      {% for item in sorted_lists.titLatAbbr %}
      <li class="list-row text-zinc-900>
        <a href="#{{ item.ctsURN }}">
          <div class="italic">{{ item.latinAbbreviatedTitle }} <span class="text-zinc-600">[{{ item.callNumber }}]</span></div>
        </a>
      </li>
      {% endfor %}
    </ul>

    {# titGrc #}
    <ul id="list-titGrc" class="list title-list"{{ ' hidden' if default_sort != 'titGrc' else '' }}>
      {% for item in sorted_lists.titGrc %}
      <li class="list-row text-zinc-900">
        <a href="#{{ item.ctsURN }}">
          <div class="italic">{{ item.greekTitle }} <span class="text-zinc-600">[{{ item.callNumber }}]</span></div>
        </a>
      </li>
      {% endfor %}
    </ul>

    {# titFra #}
    <ul id="list-titFra" class="list title-list"{{ ' hidden' if default_sort != 'titFra' else '' }}>
      {% for item in sorted_lists.titFra %}
      <li class="list-row text-zinc-900">
        <a href="#{{ item.ctsURN }}">
          <div class="italic">{{ item.frenchTitle }} <span class="text-zinc-600">[{{ item.callNumber }}]</span></div>
        </a>
      </li>
      {% endfor %}
    </ul>

    {# titEng #}
    <ul id="list-titEng" class="list title-list"{{ ' hidden' if default_sort != 'titEng' else '' }}>
      {% for item in sorted_lists.titEng %}
      <li class="list-row">
        <a href="#{{ item.ctsURN }}">
          <div class="italic">{{ item.englishTitle }} <span class="text-zinc-600">[{{ item.callNumber }}]</span></div>
        </a>
      </li>
      {% endfor %}
    </ul>

    {# titEngAbbr (CGT) #}
    <ul id="list-titEngAbbr" class="list title-list"{{ ' hidden' if default_sort != 'titEngAbbr' else '' }}>
      {% for item in sorted_lists.titEngAbbr %}
      <li class="list-row">
        <a href="#{{ item.ctsURN }}">
          <div class="italic">{{ item.englishShortTitle }} <span class="text-zinc-600">[{{ item.callNumber }}]</span></div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div id="biblio" class="max-h-screen max-w-1/2 overflow-y-scroll px-8">
    <main>
      {% for bib_item in items %}
        {% with item = bib_item %}
          {% include "components/BibliographicItem.html.jinja" %}
        {% endwith %}
      {% endfor %}
    </main>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/sort.js') }}"></script>
{% endblock %}
