{% extends "base.html.jinja" %}

{% block title %}Recherche — Galenus Verbatim{% endblock %}

{% block tab_recherche %}tab-active{% endblock %}

{% block content %}
<div class="p-8" x-data="search">
  <h1 class="font-bold text-xl">Sélection des Titres</h1>

  <div class="flex">
    <div class="bg-olive-200 p-8 rounded-sm shadow-md w-full">
      <fieldset class="fieldset flex">
        <input type="radio" class="radio bg-olive-100" id="toutes" name="author" x-model="selectedAuthor" value="Toutes" checked="true" />
        <label class="label mr-4" for="gal">Toutes</label>

        <input type="radio" class="radio bg-olive-100" id="gal" name="author" x-model="selectedAuthor" value="Galenus" />
        <label class="label mr-4" for="gal">Gal.</label>

        <input type="radio" class="radio bg-olive-100" id="ps-gal" name="author" x-model="selectedAuthor" value="Pseudo-Galen" />
        <label class="label mr-4" for="ps-gal">Ps.-Gal.</label>
      </fieldset>

      <fieldset class="fieldset">
        <span>Sujets : </span>
        <div class="flex">
          <template x-for="tag in allTags">
            <div class="control-group">
              <input type="checkbox" class="gommette checkbox bg-olive-100" :id="`_${tag}`" :value="`_${tag}`" x-model="selectedTags" />
              <label class="label mr-4" :for="`_${tag}`" x-text="`${tag}.`"></label>
            </div>
          </div>
        </template>
      </fieldset>

      <fieldset class="fieldset">
      <button
        class="bg-olive-50 hover:bg-olive-100 btn btn-outline my-4"
        type="button"
        @click="clearSelectedTags"
        :disabled="selectedTags.length === 0">Tout décocher
      </button>
        <label class="label">
          <input type="checkbox" class="checkbox bg-olive-100" x-model="ignoreDuplicates" />
          <span class="text-md">Ignorer doublons</span>
        </label>
      </fieldset>
    </div>
  </div>

  <div class="w-full mt-4">
    <fieldset class="fieldset">
      <label class="input w-full">
        <span class="label">Recherche par lemme ou forme</span>
        <input
          id="cts"
          name="cts"
          placeholder="μεταφορά"
          type="text"
        />
      </label>
    </fieldset>
  </div>


  <div class="overflow-auto max-h-1/2-screen mt-4">
    <table class="table w-full">
      <thead>
        <tr>
          <th><span>Limiter la recherche</span></th>
          <th :aria-sort="`${sortBy === 'editors' ? (sortAscending ? 'ascending' : 'descending') : 'none'}`">
            <button class="cursor-pointer" @click="updateSort('editors')">Editeur(s)</button><span aria-hidden="true"></span>
          </th>
          <th :aria-sort="`${sortBy === 'greek_title' ? (sortAscending ? 'ascending' : 'descending') : 'none'}`">
            <button class="cursor-pointer" @click="updateSort('greek_title')">Titre grec</button><span aria-hidden="true"></span>
          </th>
          <th :aria-sort="`${sortBy === 'latin_title' ? (sortAscending ? 'ascending' : 'descending') : 'none'}` ">
            <button class="cursor-pointer" @click="updateSort('latin_title')">Titre latin</button><span aria-hidden="true"></span>
          </th>
          <th :aria-sort="`${sortBy === 'french_title' ? (sortAscending ? 'ascending' : 'descending') : 'none'}`">
            <button class="cursor-pointer" @click="updateSort('french_title')">Titre français</button><span aria-hidden="true"></span>
          </th>
          <th :aria-sort="`${sortBy === 'english_title' ? (sortAscending ? 'ascending' : 'descending') : 'none'}`">
            <button class="cursor-pointer" @click="updateSort('english_title')">Titre anglais</button><span aria-hidden="true"></span>
          </th>
          <th :aria-sort="`${sortBy === 'tags' ? (sortAscending ? 'ascending' : 'descending') : 'none'}`">
            <button class="cursor-pointer" @click="updateSort('tags')">Sujets</button><span aria-hidden="true"></span>
          </th>
          <th aria-sort="none">
            <span>Détails</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <template x-for="edition in editions" :key="edition.cts">
          <template x-if="selectedAuthor === 'Toutes' || selectedAuthor === edition.authors">
            <tr class="hover:bg-olive-200">
              <td><input type="checkbox" class="checkbox bg-olive-50" /></td>
              <td>
                <a :href="edition.url" :title="edition.url" x-text="editorLastName(edition.editors)" />
              </td>
              <td>
                <a :href="`/${edition.cts}`" :title="edition.cts" class="text-yellow-700" x-text="edition.greek_title"></a>
              </td>
              <td x-text="edition.latin_title || edition.title"></td>
              <td x-text="edition.french_title"></td>
              <td x-text="edition.english_title"></td>
              <td x-text="edition.tags?.join(', ').replaceAll('_', '')"></td>
              <td>
                <a :href="`/#${edition.cts.split('.').slice(0, -1).join('.')}`" title="more info" class="text-yellow-700" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                  </svg>
                </a>
              </td>
            </tr>
          </template>
        </template>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='vendor/js/alpinejs.js') }}"></script>
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('search', () => ({
      allTags: {{all_tags}},
      allEditions: {{editions|tojson}},
      clearSelectedTags() {
        this.selectedTags = [];
      },
      get editions() { return this.filterEditions() },
      editorLastName(editor) { return editor.split(', ')[0] },
      filterEditions() {
        let editionsFiltered = this.allEditions;

        if (this.selectedTags.length > 0) {
          editionsFiltered = editionsFiltered.filter(e => {
            return this.selectedTags.every(t => e.tags.includes(t));
          })
        }

        return this.sortEditions(editionsFiltered);
      },
      ignoreDuplicates: false,
      sortAscending: true,
      sortBy: 'tags',
      selectedAuthor: 'Toutes', // | 'Galenus' | 'Pseudo-Galen'
      selectedTags: [],
      sortEditions(editionsFiltered) {
        let editionsSorted = editionsFiltered;

        if (this.sortBy === 'editors') {
          editionsSorted = editionsFiltered.toSorted((a, b) => {
            const aEditor = this.editorLastName(a.editors)
            const bEditor = this.editorLastName(b.editors)

            if (this.sortAscending) return -aEditor.localeCompare(bEditor);

            return aEditor.localeCompare(bEditor);
          })
        } else if (this.sortBy === 'tags') {
          editionsSorted = editionsFiltered.toSorted((a, b) => {
            const aTagsCleaned = a.tags.map(t => t.replace('_', ''));
            const bTagsCleaned = b.tags.map(t => t.replace('_', ''));
            const minTagIndexA = Math.min(aTagsCleaned.map(t => this.allTags.indexOf(t)))
            const minTagIndexB = Math.min(bTagsCleaned.map(t => this.allTags.indexOf(t)))

            if (this.sortAscending) {
              return minTagIndexA - minTagIndexB;
            }

            return minTagIndexB - minTagIndexA;
          })
        } else {
          editionsSorted = editionsFiltered.toSorted((a, b) => {
            const aField = a[this.sortBy] || a['title'] || '';
            const bField = b[this.sortBy] || b['title'] || '';

            if (this.sortAscending) return -aField.localeCompare(bField);

            return aField.localeCompare(bField);
          })
        }

        if (this.ignoreDuplicates) {
          let seenURNs = {};

          editionsSorted = editionsSorted.filter(e => {
            const ctsURN = e.cts.split(':')[3];
            const withoutVersion = ctsURN.split('.').slice(0, 2).join('.');

            if (seenURNs[withoutVersion]) {
              return false;
            }

            seenURNs[withoutVersion] = true;

            return true;
          });
        }

        return editionsSorted;
      },

      updateSort(sortColumn) {
        // if the current sortBy column is clicked
        // again, flip the sort direction
        if (this.sortBy === sortColumn) {
          return this.sortAscending = !this.sortAscending;
        }

        this.sortBy = sortColumn;
        this.sortAscending = false;
      }
    }))
  })
</script>

<style>
  th[aria-sort="ascending"] span::after {
    color: currentColor;
    content: "▼";
    font-size: 100%;
    margin-left: 4px;
    top: 0;
  }

  th[aria-sort="descending"] span::after {
    color: currentColor;
    content: "▲";
    font-size: 100%;
    margin-left: 4px;
    top: 0;
  }
</style>
{% endblock %}
