<li>
	{% if item.get("subpassages", [])|length > 0 %}
		<details>
			<summary>
				<span>{{item.label}}</span>
			</summary>
			<ul>
                {% for child in item.get("subpassages") %}
                    {% with item = child %}
                        {%- include 'components/NavigationItem.html.jinja' -%}
                    {% endwith %}
                {% endfor %}
			</ul>
		</details>
	{% else %}
    <a href="{{ url_for('reading', urn=item.urn) }}"{% if item.urn == current_urn %} class="selected"{% endif %}>{{ item.label }}</a>
	{% endif %}
</li>
