{#- Recursively renders a text_container dict to HTML.
    Context variable: text_container -#}
{%- set tagname = text_container.subtype or text_container.tagname or 'span' -%}

{%- if tagname == 'text_run' or text_container.tagname == 'text_run' -%}
  {{- text_container.content -}}
{%- elif tagname == 'token' -%}
  <span{% if text_container.urn %} id="{{ text_container.urn }}"{% endif %}>{{- text_container.text -}}</span>{% if text_container.whitespace %} {% endif %}
{%- elif tagname == "sic" -%}
  <span class="hidden tei-sic">
    {%- for child in text_container.children or [] -%}
      {%- with text_container = child -%}
        {%- include 'components/ReadableTextContainer.html.jinja' -%}
      {%- endwith -%}
    {%- endfor -%}
  </span>
{%- elif tagname == 'lb' -%}
  <br />
  {%- if text_container.get("rend") == "rule" -%}
    <hr data-attributes="{{ text_container }}" />
  {%- else -%}
    <span
      id="{{ text_container.html_id }}"
      class="tei-lb inline-block select-none w-8"
      data-attributes="{{ text_container }}"
      data-rend="{{ text_container.get("rend") }}">
      <a href="#{{ text_container.html_id }}">{{ text_container.n }}</a>
    </span>
  {%- endif -%}
{%- elif tagname == "milestone" -%}
<span
  class="tei-milestone cursor-pointer"
  data-unit="{{ text_container.unit }}"
  data-n="{{ text_container.n }}"
  title="{%- if text_container.unit == "ed1page"%}Bâle{%- elif text_container.unit == "ed2page" %}Chartier{% endif %} {{ text_container.n }}"
>&nbsp;</span>
{%- elif tagname == 'pb' -%}
<span class="float-right tei-pb text-olive-500" data-n="{{ text_container.n }}" id="p{{ text_container.n }}">{{ text_container.n }}</span>
{%- elif tagname == 'l' -%}
  <div class="tei-l" data-n="{{ text_container.n }}">
    <span class="float-right text-olive-500 text-xs">{{ text_container.n }}</span>
    {%- for child in text_container.children or [] -%}
      {%- with text_container = child -%}
        {%- include 'components/ReadableTextContainer.html.jinja' -%}
      {%- endwith -%}
    {%- endfor -%}
  </div>

{%- elif tagname == "label" -%}
  <span class="tei-label" data-type="{{ text_container.get("type") }}">
    {%- for child in text_container.children or [] -%}
      {%- with text_container = child -%}
        {%- include 'components/ReadableTextContainer.html.jinja' -%}
      {%- endwith -%}
    {%- endfor -%}
  </span>
{%- else -%}
  {%- set element_map = element_map | default({'head': 'h2', 'lg': 'blockquote', 'p': 'p', 'quote': 'blockquote'}) -%}
  {%- set html_tag = element_map.get(tagname, 'span') -%}
  {%- set css_class = 'tei-' ~ (text_container.tagname or tagname) -%}
<{{ html_tag }} class="{{ css_class }}">
  {%- for child in text_container.children or [] -%}
    {%- with text_container = child -%}
      {%- include 'components/ReadableTextContainer.html.jinja' -%}
    {%- endwith -%}
  {%- endfor -%}
</{{ html_tag }}>
{%- endif -%}
