{#- Recursively renders a text_container dict to HTML.
    Context variable: text_container -#}
{%- set tagname = text_container.subtype or text_container.tagname or 'span' -%}

{%- if tagname == 'text_run' or text_container.tagname == 'text_run' -%}
  {%- for token in text_container.tokens or [] -%}
    {{- token.text -}}{% if token.whitespace %} {% endif %}
  {%- endfor -%}
{%- elif tagname == 'lb' -%}
<br /><a class="lb" id="l{{ text_container.n }}" href="#l{{ text_container.n }}">{{ text_container.n }}</a>
{%- elif tagname == "milestone" -%}
<span class="milestone" data-attributes="{{ text_container }}"></span>
{%- elif tagname == 'pb' -%}
<span class="pb" data-n="{{ text_container.n }}" id="p{{ text_container.n }}"></span>
{%- else -%}
  {%- set element_map = element_map | default({'head': 'h2', 'l': 'span', 'lg': 'div', 'p': 'p', 'quote': 'blockquote'}) -%}
  {%- set html_tag = element_map.get(tagname, 'span') -%}
  {%- set css_class = 'tei-' ~ (text_container.tagname or tagname) -%}
<{{ html_tag }} class="{{ css_class }}">
  {%- for child in text_container.children or [] -%}
    {%- with text_container = child -%}
      {%- include 'components/ReadableTextContainer.html.jinja' -%}
    {%- endwith -%}
  {%- endfor -%}
</{{ html_tag }}>
{%- endif -%}
